html,body {background-color: #0d0f1c; color:#FFF!important; overflow-x: hidden; height: 100%; font-size:20px}

.container {max-width: 1200px!important;}
h1 {font-size:60px}
h5 {font-size:20px}
small {font-size: 15px;}

.navbar a:hover{color:#fff!important}

.russo {font-family: 'Russo One', sans-serif;}
.roboto {font-family: 'Roboto', sans-serif;}
#promo-list:hover {background-color: #2e3552; transition: .5s ease}

td:first-child {
  width: 1%;
  font-weight: bold;
}

td + td {
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-custom-secondary {color:#b1bcca}

.bg-custom-dark {background-color: #1e2439;}

input[type="text"],input[type="email"] {background-color: #2c3257!important; border:none; color:#FFF!important; transition: .3s ease;}
input[type="text"]:focus {border:0}
input[type="email"]:focus {border:0}

.promo-list {display: grid; grid-template-columns: 1fr 1fr 1fr; list-style-type: none; margin:0;padding:0; width: 100%;}